#objectEdition {
    background-color: #F5EBDF;
    min-height: 100vh;
    white-space: pre-line;
    display: grid;
    grid-template-columns: 1em min-content min-content 1fr;
    grid-template-rows: 1em min-content min-content 1fr;
    grid-template-areas:
        ". . . ."
        ". SearchBar SearchBar . "
        ". ListMenu . ."
        ". ListMenu . .";
        overflow: hidden;
    }

#ListMenu{
    grid-area: ListMenu;
    
}

::-webkit-scrollbar {
    display: none;
}

