#roomEdition{
    background-color: #F1F5F9;
    min-height: 100vh;
    white-space: pre-line;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns:2vw  23vw 73vw 2vw ;
    grid-template-rows: 1.5vh 96vh 1.5vh;
    grid-template-areas:
        ". . . ."
        ". SideMenu RoomEditionScreen . "
        ". . . .";
    justify-content: center;

}

#RoomEditionScreen{
    grid-area: RoomEditionScreen;
    border-radius: 5px;
    background-color: #fff;
    grid-gap: 5px;
    filter: drop-shadow(0 0.1rem 0.1rem #787777);
}