#searchBarObject{
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'sbbutton sbbar';

}

.glass {
    max-width: 1.5em;
    max-height: 1.5em;
    align-items: center;
    align-self: center;
}

.seachbar{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}

.searchbar-button{
    grid-area: sbbutton; 
    border : 0px;
    background-color: transparent;
    padding: 0;
    width: 1.5em; 
    height: 1.5em; 
}
