#globalEdition {
    background-color: #432818;
    min-height: 100vh;
	white-space: pre-line;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 2em min-content 4em 1fr;
    grid-template-areas:
    ". ." 
    "Searchddbar . "
    ". ."
    ". Buttons ";
}

.Buttons{
    grid-area: Buttons;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content ;
    grid-template-areas: 
    "Objects Rooms"
    "Maps Days";
}

.SearchBar{
    grid-area: SearchBar;
    
}

.EditButton img{
    width: 70vh;
    height: 38vh;
    object-fit: cover;
    border-radius: 5px;
}

.EditButton{
    background-color: transparent;
    border: 0;
    max-width: 70vh;
    max-height: 38vh;
    padding: 0;
}

#Objects{
    grid-area: Objects;

}

#Rooms{
    grid-area: Rooms;

}

#Days{
    grid-area: Days;

}

#Maps{
    grid-area: Maps;

}
