#ListComponent{
    border: 0;
    height: 6vh;
    min-width: 38vh;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 5% 20% 5% 65% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
    ". . . . ."
    ". ObjImg . ObjName ."
    ". . . . .";
    background-color: #fff;
    z-index: 0;
    align-items: center;
    margin:0.5em 0.6em 0.5em 0.6em;
    filter: drop-shadow(0 0.02rem 0.15rem #6e6e6e);
}

#ListComponent:hover{
    filter: drop-shadow(0 0.1rem 0.2rem #262421);
}

#ListComponent img{
    grid-area: ObjImg;
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
    width: 100%; 
    
}

.objectName{
    margin: 4%;
    grid-area: ObjName;
    font-size: 15px;
    font-weight: bold;
    color:#000;
    align-items: center;

}

