.ListMenu{
    grid-area: List;
    overflow-y: scroll;
    max-height: 80vh ;
    padding:0;
    margin: 0;
}

.Menu{
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: auto;
    grid-template-areas: "SearchBar"
                        "List"
                        "AddButton";
    scrollbar-width: none;
    border-radius: 5px;
    background-color: #F8FAFC;
    filter: drop-shadow(0 0.1rem 0.2rem #787777);
    grid-area: Menu;
    max-width: min-content;
    
}

.Menu #searchBarObject{
    padding:0 1.2em;
}


