@import "../../../ressources/stylesheet/variables.scss";


.ObjectPromptScreen{
    grid-template-columns: $object-prompt-columns-template;
    grid-template-rows: $object-prompt-rows-template; 
    grid-template-areas: $object-prompt-grid-area-template;

}

.Description{
    grid-area: $panel-description-grid-area;
    text-align: $justify-text;
    padding: $panel-padding;
    font-size: $panel-description-font-size;
}

.ModelName{
    grid-area: $panel-name-grid-area;
    white-space: $panel-name-white-space;
    font-size: $panel-name-font-size;
    align-self: $align-center;
    justify-self: $justify-center;
    padding: $panel-padding;
}

.ObjImg{
    grid-area: ObjImg;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.RoomPromptScreen{
    grid-template-columns: $room-prompt-column-template;
    grid-template-rows: $room-prompt-rows-template;
    grid-template-areas: $room-prompt-area-template;
    display: $room-prompt-display;
}

.RoomImg{
    grid-area: $room-prompt-img-grid-area;
    border: $room-prompt-img-border;
    border-radius: $room-prompt-img-border-radius;
    max-width: $room-prompt-img-max-width;
    max-height: $room-prompt-img-max-height;
}