@import "../../../ressources/stylesheet/variables.scss";


#ObjectEditionScreen{
    grid-template-columns: $object-prompt-columns-template;
    grid-template-rows: $object-prompt-rows-template; 
    grid-template-areas: $object-prompt-grid-area-template;

}

.Description{
    grid-area: $panel-description-grid-area;
    text-align: $justify-text;
    padding: $panel-padding;
    font-size: $panel-description-font-size;
}

.ModelName{
    grid-area: $panel-name-grid-area;
    white-space: $panel-name-white-space;
    font-size: $panel-name-font-size;
    align-self: $align-center;
    justify-self: $justify-center;
    padding: $panel-padding;
}

.ObjImg{
    grid-area: ObjImg;
}

