.prompt{

    grid-template-columns: 1em min-content min-content repeat(3,1fr) 1em;
    grid-template-rows: 1em repeat(2,min-content) 1fr repeat(2, min-content) 1em;
    grid-template-areas: ". . . . . . ."
    " . ObjectName SegmentedControl . . . ."
    ". ObjectDescription ObjectDescription ObjectDescription ObjectDescription ObjectDescription ."
    ". ObjectDescription ObjectDescription ObjectDescription ObjectDescription ObjectDescription ."
    ". ObjImg . . . ModButton ."
    ". ObjImg . . . DelButton ."
    ". . . . . . .";
}

.ObjectName{

    grid-area: ObjectName;
    white-space: nowrap;
    font-size: 1em;
    align-self: center;
    justify-self: center;
    padding:0 1em;
    
}

.ObjImg{
    grid-area: ObjImg;
}

.ObjectDescription{
    text-align: justify;
    grid-area: ObjectDescription;
    padding: 0 1em;
}